<ion-card>
  <ion-item color="medium">
    <ion-col class="ion-text-center">
      {{ selected_post?.post_title }}
    </ion-col>
  </ion-item>
</ion-card>

<ion-card class="dataInfo">
  <ion-item>
    <ion-grid class="ion-text-center">
      <ion-col>
        <ion-icon
          name="heart"
          color="danger">
        </ion-icon>
        {{ selected_post?.number_liked }}
      </ion-col>
      <ion-col *ngIf="selected_post?.data?.routine">
        <ion-icon
          name="archive-outline">
        </ion-icon>
        {{ selected_post?.number_archived }}
      </ion-col>
      <ion-col>
        <ion-icon
          name="person-outline">
        </ion-icon>
        By {{ writer_name }}
      </ion-col>
    </ion-grid>
  </ion-item>
  <ion-item>
    <ion-text class="ion-text-start">
      {{ selected_post?.post_content }}
    </ion-text>
  </ion-item>
</ion-card>