<div style="font-size: 10px;" *ngIf="dbPosts">
  <ion-card *ngFor="let post of dbPosts">
    <ion-item color="medium">
      <ion-label>
        {{ post.post_title }}
      </ion-label>
      <ion-icon
        *ngIf="!editButton"
        size="small"
        slot="end"
        name="chevron-forward-outline"
        [routerLink]="['../detail-post',
        {post_id: post.post_id}]">
      </ion-icon>
      
      <!-- Edit or Delete -->
      <ion-buttons
        style="padding: 5px 0"
        *ngIf="editButton"
        slot="end">
        <ion-button
          style="padding: 0 15px"
          (click)="openComposePostModal(post)">
          Edit
        </ion-button>
        <ion-button
          (click)="deletePost(post.post_id)">
          Del
        </ion-button>
      </ion-buttons>
    </ion-item>

    <!-- Content -->
    <ion-item>
      <ion-textarea
        class="post_content"
        disabled
        readonly>
        {{ post?.post_content }}
      </ion-textarea>
    </ion-item>
    <ion-item>
      <ion-text>
        <br/>
      </ion-text>
    </ion-item>
    <ion-item style="font-size: 12px">
      <div slot="end" *ngIf="post.data.routine">
        <ion-icon
          name='alarm-outline'>
        </ion-icon>
        {{ getRoutineDuration(post.data) }}
      </div>
    </ion-item>

    <!-- Rotuine info-->
    <ion-item style="font-size: 12px">
      <ion-col size="4">
        <ion-icon
          name='heart'
          color='danger'>
        </ion-icon>
          {{ post.number_liked }}
      </ion-col>
      <ion-col size="4" *ngIf="post.data.routine">
        <ion-icon
          name='archive-outline'>
        </ion-icon>
          {{ post.number_archived }}
      </ion-col>
      <div size="4" *ngIf="post.data.routine?.value?.timerOn">
        <ion-icon
          name='pie-chart-outline'>
        </ion-icon>
        {{ getTimerOn(post.data) }} {{ getTimerOff(post.data) }}
      </div>
    </ion-item>
  </ion-card>
</div>