<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-icon name="hammer-outline"></ion-icon>
      Settings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
      <ion-label>
        <ion-icon name="color-palette-outline">
        </ion-icon>
        Select Theme
      </ion-label>
    </ion-item>
    <ion-item color="light">
      <ion-select
        interface="action-sheet"
        slot="end"
        [(ngModel)]="_selectedTheme"
        (ionChange)="changeTheme()">
        <ion-select-option value="light">Light</ion-select-option>
        <ion-select-option value="dark">Dark</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-card>
</ion-content>