<ion-tabs>
  <ion-tab-bar slot="bottom">
      <ion-tab-button tab="myRoutine">
        <ion-icon name="time-outline"></ion-icon>
        <ion-label>My Routine</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="schedule">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Schedule</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="community">
      <ion-icon name="chatbubbles-outline"></ion-icon>
      <ion-label>Community</ion-label>
      <ion-badge>12</ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="hammer-outline"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>