<ion-header>
  <ion-toolbar class="ion-text-center">
    <ion-text><b>
      <ion-icon name="pie-chart-outline"></ion-icon>
      Detail Post
    </b></ion-text>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="likePost()">
        <ion-icon
          name="heart"
          color="danger">
        </ion-icon>
      </ion-button>
      <ion-button
        *ngIf="selected_post?.data?.routine"
        (click)="importIntoMyRoutine()">
        <ion-icon
          name="archive-outline">
        </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-view-post-detail
    [selected_post]="selected_post"
    [writer_name]="writer_name">
  </app-view-post-detail>

  <ion-item-divider></ion-item-divider>
  
  <app-view-task *ngIf="selected_post?.data?.routine"
    [routineTitle]="selected_post?.data?.routine.value?.title"
    [selectedData]="selected_post?.data"
    [taskList]="taskList">
  </app-view-task>
</ion-content>