<ion-header>
  <ion-toolbar color="medium">
    <ion-title>
      <ion-icon name="git-pull-request-outline"></ion-icon>
      Compose Task
    </ion-title>
    <ion-buttons slot="start">
      <ion-button
        (click)="dismissModal()">
        <ion-icon name="chevron-back-outline"></ion-icon>
        Back
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button
        (click)="saveTask()"
        [disabled]="task.value.title == undefined">
        Save
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
      <ion-label>
        Title
      </ion-label>
      <ion-input
        class="ion-text-end"
        type="text"
        placeholder="_"
        [(ngModel)]="task.value.title">
      </ion-input>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-label>
        Duration
      </ion-label>
      <ion-datetime
        display-format="h:mm"
        placeholder="_"
        picker-format="h:mm"
        [(ngModel)]="task.value.duration">
      </ion-datetime>
    </ion-item>
  </ion-card>

  <ion-item-divider></ion-item-divider>

  <ion-card>
    <ion-item>
      <ion-label>
        Icon
      </ion-label>
      <ion-buttons>
        <ion-button
          class="ion-text-end"
          (click)="openIconsModal()">
          <ion-icon name={{task.value.iconName}} color={{task.value.iconColor}}></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-card>
</ion-content>