<ion-header>
  <ion-toolbar class="ion-text-center" color="medium">
    <ion-text>
      <ion-icon name="git-pull-request-outline"></ion-icon>
      Task
    </ion-text>
    <ion-buttons slot="start">
      <ion-button
        (click)="dismissModal()">
        <ion-icon name="chevron-back-outline"></ion-icon>
        Back
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button
        (click)="saveTask()"
        [disabled]="task.value.title == undefined">
        Save
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
      <ion-label
        position="floating">
        Title
      </ion-label>
      <ion-input
        class="ion-text-end"
        type="text"
        required
        [(ngModel)]="task.value.title">
      </ion-input>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-label
        position="floating">
        Duration
      </ion-label>
      <ion-input
        class="ion-text-center"
        type="number"
        [(ngModel)]="task.value.duration">
      </ion-input>
      <ion-range
        min="0"
        max="60"
        step="5"
        snaps="true"
        color="primary"
        [(ngModel)]="task.value.duration">
      </ion-range>
    </ion-item>
  </ion-card>

  <ion-item-divider></ion-item-divider>

  <ion-card>
    <ion-item>
      <ion-label>
        Icon
      </ion-label>
      <ion-buttons>
        <ion-button
          class="ion-text-end"
          (click)="openIconsModal()">
          <!-- <ion-text>{{taskIcon}}</ion-text> -->
          <ion-icon name={{task.value.iconName}} color={{task.value.iconColor}}></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
    <ion-item>
      <ion-label>
        Icon color
      </ion-label>
      <ion-select
        interface="action-sheet"
        [(ngModel)]="task.value.iconColor">
        <ion-select-option value="tertiary"> Purple </ion-select-option>
        <ion-select-option value="danger"> Red </ion-select-option>
        <ion-select-option value="warning"> Yellow </ion-select-option>
        <ion-select-option value="primary"> Blue </ion-select-option>
        <ion-select-option value="medium"> Gray </ion-select-option>
      </ion-select>
    </ion-item>
  </ion-card>
</ion-content>