<ion-reorder-group (ionItemReorder)="onReorder($event)" [disabled]="false">
  <ion-card *ngFor="let data of storageData" class={{deactivatedIonCard(data)}}>
    <ion-item-sliding>
      <ion-item>
        <ion-reorder slot="start">
          <ion-icon
            name="alarm-outline"
            color="primary">
          </ion-icon>
        </ion-reorder>
        <ion-label>
          {{ data.routine.value.title }}
        </ion-label>

        <!-- View task-->
        <ion-icon
          size="small"
          slot="end"
          name="chevron-forward-outline"
          [routerLink]="['../detail-routine',
          {title: data.routine.value.title,
          key: data.routine.key}]">
        </ion-icon>
      </ion-item>
      
      <!-- Sliding to Edit or Delete -->
      <ion-item-options side="end">
        <ion-item-option
          (click)="openComposeRoutineModal(data)">
          Edit
        </ion-item-option>
        <ion-item-option color="danger"
          (click)="deleteData(storageData, data)">
          Delete
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item style="font-size: 12px">
      {{ getTimerOn(data) }}
      <div slot="end">
        {{ getDayName(data) }}
      </div>
    </ion-item>
  </ion-card>
</ion-reorder-group>