<ion-header>
  <ion-toolbar class="ion-text-center">
    <ion-text class="toolbarTitle">
      <ion-icon name="pie-chart-outline"></ion-icon>
      <b>
        Detail Routine
      </b>
    </ion-text>
    
    <ion-buttons slot="start">
      <ion-back-button>
      </ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button
        (click)="showEditButtone()"
        color={{editButton}}>
        <ion-icon
          name="{{editButton ? 'checkmark-circle-outline' : 'ellipsis-horizontal-circle-outline'}}">
        </ion-icon>
      </ion-button>
      <ion-button (click)="openComposeTaskModal()">
        <ion-icon
          name="add"
          color="primary">
      </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-view-task
  [editButton]="editButton=='' ? false : true"
  [routineTitle]="_selectedData?.routine?.value?.title"
  [storageData]="_storageData"
  [selectedData]="_selectedData"
  [taskList]="_taskList">
  </app-view-task>
</ion-content>