<ion-card>
  <ion-item color="primary">
    <ion-col class="ion-text-center">
      {{ routineTitle }}
    </ion-col>
  </ion-item>
  
  <ion-grid class="ion-text-center" *ngIf="selectedData">
    <ion-grid class="routineInfo">
      <ion-col *ngIf="selectedData.routine.value.timerOn">
        <ion-icon
          name="pie-chart-outline">
        </ion-icon>
        {{ getTimerOn(selectedData) }} {{ getTimerOff(selectedData) }}
      </ion-col>
      <ion-col>
        <ion-icon
          name="alarm-outline">
        </ion-icon>
        {{ getRoutineDuration(selectedData) }}
      </ion-col>
      <div style="font-size: 10px">
        {{ getDayName(selectedData) }}
      </div>
    </ion-grid>
  </ion-grid>
</ion-card>
  
<ion-reorder-group (ionItemReorder)="onReorder($event)" [disabled]="false">
  <ion-card *ngFor="let task of taskList">
    <ion-item>
      <!-- In MyRoutine -->
      <ion-reorder slot="start" *ngIf="storageData">
        <ion-icon
          name={{task.value.iconName}}
          color={{task.value.iconColor}}>
        </ion-icon>
      </ion-reorder>
      <!-- In post from community -->
      <div class="icon-margin-right" *ngIf="!storageData">
        <ion-icon
          name={{task.value.iconName}}
          color={{task.value.iconColor}}>
        </ion-icon>
      </div>

      <ion-label class="taskText">
        {{task.value.title}}
      </ion-label>
      <div slot="end" class="taskText">
        {{task.value.duration}}m
      </div>
      
      <!-- Edit or Delete -->
      <ion-buttons
        *ngIf="editButton"
        slot="end">
        <ion-button
          color="{{editButton ? 'primary' : ''}}"
          (click)="openComposeTaskModal(task)">
          Edit
        </ion-button>
        <ion-button
          color="{{editButton ? 'primary' : ''}}"
          (click)="deleteTask(task)">
          Del
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-card>
</ion-reorder-group>