<ion-card *ngFor="let task of taskList">
  <ion-item>
    <ion-icon
      slot="start"
      name={{task.value.iconName}}
      color={{task.value.iconColor}}>
    </ion-icon>
    {{task.value.title}}
    <div slot="end">
      {{task.value.duration}}m
    </div>
    <!-- Delete routine-->
    <ion-icon
      *ngIf="editActivate"
      size="small"
      slot="end"
      color="danger"
      name="close-outline"  
      (click)="deleteTask(task)">
    </ion-icon>
    <!-- Edit routine-->
    <ion-icon
      *ngIf="editActivate"
      size="small"
      slot="end"
      color="primary"
      name="create-outline"
      (click)="openComposeTaskModal(task)">
    </ion-icon>
  </ion-item>
  <!-- <ion-item *ngIf="">
    <ion-icon
      *ngIf=""
      size="small"
      slot="end"
      name="chevron-forward-outline"
      [routerLink]="['../detail-task']"
      routerLinkActive="router-link-active">
    </ion-icon>
  </ion-item> -->
</ion-card>