<ion-card>
  <ion-item color="medium">
    <ion-label class="ion-text-center">
      {{ routineTitle }}
    </ion-label>
  </ion-item>
  
  <ion-grid class="ion-text-center" *ngIf="selectedData">
    <ion-grid class="routineInfo">
      <ion-col *ngIf="selectedData.routine.value.timerOn">
        <ion-icon
          name="pie-chart-outline">
        </ion-icon>
        {{ getTimerOn(selectedData) }} {{ getTimerOff(selectedData) }}
      </ion-col>
      <ion-col>
        <ion-icon
          name="alarm-outline">
        </ion-icon>
        {{ getRoutineDuration(selectedData) }}
      </ion-col>
      <div style="font-size: 10px">
        {{ getDayName(selectedData) }}
      </div>
    </ion-grid>
  </ion-grid>
</ion-card>
  
<ion-reorder-group (ionItemReorder)="onReorder($event)" [disabled]="false">
  <ion-card *ngFor="let task of taskList">
    <ion-item-sliding>
      <ion-item>
        <!-- In MyRoutine -->
        <ion-reorder slot="start" *ngIf="storageData">
          <ion-icon
            name={{task.value.iconName}}
            color={{task.value.iconColor}}>
          </ion-icon>
        </ion-reorder>
        <!-- In post from community -->
        <div class="icon-margin-right" *ngIf="!storageData">
          <ion-icon
            name={{task.value.iconName}}
            color={{task.value.iconColor}}>
          </ion-icon>
        </div>

        <ion-text class="taskText">
          {{task.value.title}}
        </ion-text>
        <div slot="end" class="taskText">
          {{task.value.duration}}m
        </div>
      </ion-item>

      <ion-item-options side="end" *ngIf="storageData">
        <ion-item-option
          (click)="openComposeTaskModal(task)">
          Edit
        </ion-item-option>
        <ion-item-option color="danger"
          (click)="deleteTask(task)">
          Delete
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-card>
</ion-reorder-group>