<ion-header>
  <ion-toolbar class="ion-text-center">
    <ion-text class="toolbarTitle">
      <b>
        <ion-icon name="reader-outline"></ion-icon>
        feedback
      </b>
    </ion-text>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
      <ion-textarea
        autoGrow="true" rows="16"
        placeholder="Give great feedback to yourself."
        [ngModel]="memo" (ngModelChange)="onChange($event)">
      </ion-textarea>
    </ion-item>
  </ion-card>
</ion-content>