<ion-header>
  <ion-toolbar class="ion-text-center">
    <ion-title>
      <ion-icon name="calendar-outline"></ion-icon>
      feedback
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item color="primary">
      Memo will be placed here
      <br/>
      <br/>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item color="tertiary">
      <br/>
      <br/>
      Calendar will be placed here
      <br/>
      <br/>
      <br/>
    </ion-item>
  </ion-card>
</ion-content>