<ion-header>
  <ion-toolbar class="ion-text-center">
    <ion-buttons slot="start">
      <ion-button
        (click)="deactivateAll()">
        <ion-icon
          name="{{isDeactivated ? 'body-outline' : 'man-outline'}}">
        </ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-text><b>
      <ion-icon name="time-outline"></ion-icon>
      My Routine
    </b></ion-text>
    <ion-buttons slot="end">
      <ion-button
        *ngIf="sortToggle"
        class="ion-padding-horizontal"
        (click)="sortByTime()">
        <ion-icon
          size="small"
          name="swap-vertical-outline"
          color="primary">
        </ion-icon>
      </ion-button>
      <ion-button
        (click)="openComposeRoutineModal()">
        <ion-icon
          name="add"
          color="primary">
        </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-view-routine
    [storageData]="_storageData">
  </app-view-routine>
</ion-content>