<ion-header>
  <ion-toolbar class="ion-text-center">
    <ion-text class="toolbarTitle">
      <ion-icon name="time-outline"></ion-icon>
      <b>
        My Routine
      </b>
    </ion-text>

    <ion-buttons slot="start">
      <ion-button
        (click)="deactivateAll()">
        <ion-icon
          color="{{isDeactivated ? 'primary' : ''}}"
          name="{{isDeactivated ? 'body-outline' : 'man-outline'}}">
        </ion-icon>
      </ion-button>
      <ion-button
        *ngIf="sortToggle"
        (click)="sortByTime()">
        <ion-icon
          size="small"
          color="primary"
          name="swap-vertical-outline">
        </ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button
        (click)="showEditButtone()"
        color={{editButton}}>
        <ion-icon
        name="{{editButton ? 'checkmark-circle-outline' : 'ellipsis-horizontal-circle-outline'}}">
        </ion-icon>
      </ion-button>
      <ion-button
        (click)="openComposeRoutineModal()">
        <ion-icon
          color="primary"
          name="add">
        </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-view-routine
    [editButton]="editButton=='' ? false : true"
    [storageData]="_storageData">
  </app-view-routine>
</ion-content>