<ion-header>
  <ion-toolbar class="ion-text-center" color="medium">
    <ion-text>
      <ion-icon name="git-pull-request-outline"></ion-icon>
      Icons
    </ion-text>
    <ion-buttons slot="start">
      <ion-button (click)="dismissModal()">
        <ion-icon name="chevron-back-outline"></ion-icon>
        Back
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <!--(click)="saveAndDismissModal()"-->
        <!--[disabled]="time==undefined ? true : false"-->
        Save
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content text-center class="icons-basic-page">
  <ion-card>
    <ion-row>
      <ion-col *ngFor="let item of itemList">
        <ion-icon
          (click)="submit($event)"
          name = {{item.name}}
          color = {{item.color}}>
        </ion-icon>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>